root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.lock]
charset = unset
end_of_line = unset
indent_size = unset
indent_style = unset
insert_final_newline = unset
tab_width = unset
trim_trailing_whitespace = unset

[*.md]
trim_trailing_whitespace = false

[*.rs]
indent_size = 4
indent_style = tab

[*.toml]
indent_size = 2
indent_style = tab

[*.{yaml,yml}]
indent_size = 2
indent_style = space
